.container-fluid{
    background-color:yellow;
}

.header{
    background-color: blue;
}

.nav{
    background-color: green;
}

.content{
    background-color:red;
}

.aside{
    background-color:aqua;
}

.promo{
    background-color: orange;
}

.footer{
    background-color:black;
    height:50px;
}

.border{
    border: thin solid black; 
}

.header, .promo, .nav {
    height:150px;
}

.content, .aside{
    height:200px;
}

